# If you want to get rid of missing modules errors on a windows machine, install the following packages
adafruit-circuitpython-dht
paramiko
gpiozero 
opencv-python
Flask
flask-socketio
eventlet
flask-login
pytz
requests
python-socketio
Werkzeug