{% extends 'base.html' %}

{% block title %}Lisää käyttäjä{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
{% endblock %}

{% block content %}
{% include 'settings_flash.html' %}

<div class="container">
  <div class="tile" style="height:auto; padding:30px;">
    <form method="post">
      <label for="username">Käyttäjätunnus</label><br>
      <input type="text" id="username" name="username" required>
      <div style="margin-top:1em;">
        <label for="password">Salasana</label><br>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit" style="margin-top:1em;">Lisää</button>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}
