{% extends 'base.html' %}

{% block title %}Kodinhallintasivu{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <a class="tile" href="{{ url_for('web.get_3d_page') }}">3d</a>
  <a class="tile" href="#">Neliö 2</a>
  <a class="tile" href="#">Neliö 3</a>
  <a class="tile" href="#">Neliö 4</a>
  <a class="tile" href="#">Neliö 5</a>
  <a class="tile" href="#">Neliö 6</a>
</div>
{% endblock %}
