{% extends 'base.html' %}

{% block title %}Asetukset{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <a class="tile" href="{{ url_for('web.add_user') }}">Lisää käyttäjä</a>
  <a class="tile" href="{{ url_for('web.delete_user') }}">Poista käyttäjä</a>
  <a class="tile" href="{{ url_for('web.timelapse_conf') }}">Muokkaa timelapsen asetuksia</a>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}
